html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.nav li:not(:last-child) {
  border-right: 1px solid gold;
}

body {
  line-height: 1.5;
}

ul > li:not(:last-child)::after {
  content: ','
}







